body {
	background-color: LightGray;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}


.top-navigation{
	background-color: #fff;
	position: fixed;
	width:100%;
	z-index: 9999;
}
.top-navigation .content{
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding:0px 15px;
}
.top-navigation .links {
	float:right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.introduction {
	background-image: url(https://photos-5.dropbox.com/t/2/AAAJVA8QgOkSBTMaMGY9rZgY74kzTNbZtroc5mog_wJENA/12/574573343/jpeg/256x256/1/_/1/2/first-background%20copy.jpg/EPiH984EGAcgAigC/KW8UftFosyCQF7X9rgCZFn7FVHUwtxuM6S4d-wOzxEc?size_mode=3&size=2048x1536);
	background-position: center bottom;
	background-repeat: no-repeat;
	background size: cover;
	height: 45.938rem;
	overflow: auto;
	height:650px;
	overflow: auto;
	box-sizing:border-box;
	vertical-align: baseline;
}

.content {
	width: 46rem;
	padding: 0rem 0.93rem;
	margin: 0 auto;	

}

.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
	margin-bottom: 0;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction h1, .introduction h3{
	color: white;
	text-align:center;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
button:hover {
	background-color: orangered;

}
.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}

.content {
	margin-top: 7.875rem;
	color: #1d1e21;
	text-align:center;
}

h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;	
	
}
.cases .devices {
	width: 23.3333333%;
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	margin-left: 9em;
	margin-right: -4em;
	text-align:center;

}	
.cases .devices h3 {
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.social {
	background-color: #fff;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;

}
.icons {
	list-style: none;
	padding: 0;
	
}

.social .icons li {
	display:inline-block;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	text-align: center;

}

.copy {
	color: lightgray;
	font-size: 0.9rem;
	font-weight: 300;
}











